name: Build all packages
on:
  workflow_dispatch:
  repository_dispatch:
    types: [build-trigger]

permissions:
  contents: write
  pull-requests: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 1440
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            sandbox-fallback = false
          install_options: --daemon

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          set -e
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Build all packages
        id: build
        run: |
          nix develop -c project-build
        env:
          PROJECT_CACHIX_PUSH: false # 禁用缓存上传
